body {
    text-rendering: auto;
    font-size: 14px;
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    color: #1b1e21;
    background-color: #ffffff ;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    padding: 5px 0;
    font-size: 11px;
}

a {
    display: block;
    padding: 30px 0;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #1b1e21;
    color: #fff;
}

a:hover {
    background-color: #17a2b8;
    text-decoration: none;
}

@media screen and (min-width:768px) {
  #nav-open {
    display:none;
  }
}

@media screen and (max-width: 768px) {
    .header-outer {

    }
}

.header-inner {
    position: relative;
}

._header-outer {
    position: relative;
    display: block;
    width: 100%;
    min-width: 1200px;
    height: 0;
}

.header-outer {
    background-color: #1b1e21;
    position: relative;
    display: block;
    width: 100%;
    min-width: 1260px;
}

.header-inner {
    display: block;
    width: 100%;
    min-width: 1200px;
    padding: 0 20px;
    background: #1b1e21;
    z-index: 10;
}

.header-content {
    display: flex;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.header-left {
    display: flex;
    flex-basis: 280px;
    align-items: center;
    margin: 0 5% 0 0;
    padding: 23px 0 25px;
}

.header-title {
    margin: 0 0 0 42px;
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
}

.header-menu {
    display: flex;
    align-content: flex-start;
}

.header-navi {
    display: block;
    margin: 0 33px 0 auto;
    max-width: 613px;
    flex-basis: 613px;
}

.header-navi-list {
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 850px;
}

.header-navi-item {
    float: left;
    width: 250px;
    list-style-type: none;
}

.body-base {
    position: relative;
    width: 100%;
    padding-top: 80px;
    min-width: 1260px;
    background-color: #ffffff;
    word-wrap: break-word;
    overflow-wrap: break-word;
}