{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'sail/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'sail/css/style.css' %}">
{% block extra_css %}{% endblock %}
<title>{% block title %}My books{% endblock %}</title>
</head>
<body>
  <header class="header-outer">
    <div class="header-inner">
      <div class="header-content">
        <div class="header-left">
        </div>
        <div class="header-menu">
          <nav class="header-navi">
            <ul class="header-navi-list">
              <li class="header-navi-item" data-id="index"><a href="#">TOP</a></li>
              <li class="header-navi-item" data-id="menu2"><a href="#">ABOUT</a></li>
              <li class="header-navi-item" data-id="menu3"><a href="#">BOOKS</a></li>
              <li class="header-navi-item" data-id="menu4"><a href="#">CONTACT</a>></li>
              <li class="header-navi-item" data-id="menu5"><a href="#">LINK</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="container body-base">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
<script src="{% static 'sail/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'sail/js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>