{% extends "sail/base.html" %}

{% block content %}
{% load static %}
    <h2 class="title">CONTACTS</h2>
    <div class="center-pos">
        <h4>GitHub</h4>
        <a href="https://github.com/yusukeyama"><img class="center-img" src="{% static 'sail/img/github_icon.png' %}" alt="icon" ></a>
    </div>
    <div class="center-pos">
        <h4>Qiita</h4>
        <a  href="https://qiita.com/yusukeyama"><img class="center-img" src="{% static 'sail/img/qiita-favicon.png' %}" alt="icon" ></a>
    </div>
{% endblock content %}
