{% extends "sail/base.html" %}

{% block content %}
    <h2 class="title">LANGUAGES</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 box-container">
                <h2 class="box-header">C#</h2>
                <p class="box-body">主にUnityで使用していました。トップクラスに使い込んだ言語ですが、あくまでもUnityに特化しており、windows向けはしたことないという…</p>
                <p>使用歴：2年</p>
            </div>
            <div class="col-lg-4 box-container">
                <h2 class="box-header">Java</h2>
                <p class="box-body">Androidで使用していました。</p>
                <p>使用歴：2年</p>
            </div>
            <div class="col-lg-4 box-container">
                <h2 class="box-header">PHP</h2>
                <p class="box-body">API作ったり、今はWebサービス開発でがっつり使ってます。フレームワークはCakePHP使用。</p>
                <p>使用歴：1年</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 box-container">
                <h2 class="box-header">Kotlin</h2>
                <p class="box-body"></p>
                <p>使用歴：6ヶ月</p>
            </div>
            <div class="col-lg-4 box-container">
                <h2 class="box-header">Python</h2>
                <p class="box-body">Djangoでweb開発やりたくて使用。ディープラーニングやるときも使えると思い選択。PHPより書きやすくて感動した。</p>
                <p>使用歴：数ヶ月</p>
            </div>
            <div class="col-lg-4 box-container">
                <h2 class="box-header">swift</h2>
                <p class="box-body">xcodeでiOSネイティブアプリ作った事ないなーと思い使用。</p>
                <p>使用歴：半年</p>
            </div>
        </div>
    </div>
{% endblock content %}
