{% extends "sail/base.html" %}

{% block content %}
    <h2 class="title">LANGUAGES</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 box-language">
                <h2 class="box-header">C#</h2>
                <p class="box-body">主にUnityで使用していました。トップクラスに使い込んだ言語ですが、あくまでもUnityに特化しており、windows向けはしたことないという…</p>
                <p>使用歴：２年</p>
            </div>
            <div class="col-lg-4 box-language">
                <h2 class="box-header">C#</h2>
                <p class="box-body">主にUnityで使用していました。トップクラスに使い込んだ言語ですが、あくまでもUnityに特化しており、windows向けはしたことないという…</p>
                <p>使用歴：２年</p>
            </div>
            <div class="col-lg-4 box-language">
                <h2 class="box-header">C#</h2>
                <p class="box-body">主にUnityで使用していました。トップクラスに使い込んだ言語ですが、あくまでもUnityに特化しており、windows向けはしたことないという…</p>
                <p>使用歴：２年</p>
            </div>
        </div>
    </div>
{% endblock content %}
