{% extends "sail/base.html" %}

{% block content %}
    <h2 class="title">PROFILE</h2>
    <div class="profile-area">
        <table class="profile-area-cont">
            <tbody>
                <tr class="small-title-border">
                    <th class="small-title">
                        NAME
                    </th>
                    <td>
                        山西 悠祐（Yusuke Yamanishi）
                    </td>
                </tr>
                <tr class="small-title-border">
                    <th class="small-title">
                        AGE
                    </th>
                    <td>
                        31
                    </td>
                </tr>
                <tr class="small-title-border">
                    <th class="small-title">
                        OCCUPATION
                    </th>
                    <td>
                        Webエンジニア
                    </td>
                </tr>
                <tr class="small-title-border">
                    <th class="small-title">
                        PROFESSTIONAL AREA
                    </th>
                    <td>
                        Web・モバイルアプリ
                    </td>
                </tr>
                <tr class="small-title-border">
                    <th class="small-title">
                        JOB EXPERIENCE
                    </th>
                    <td>
                        スマートフォン向けゲーム開発
                    </td>
                </tr>
                <tr class="small-title-border">
                    <th class="small-title">

                    </th>
                    <td>
                        Webサービス開発
                    </td>
                </tr>
                <tr class="small-title-border">
                    <th class="small-title">
                        INTEREST
                    </th>
                    <td>
                        Webフロント、サーバーサイド
                    </td>
                </tr>
                <tr class="small-title-border">
                    <th class="small-title">

                    </th>
                    <td>
                        モバイルアプリ、機械学習、IoT
                    </td>
                </tr>
                <tr class="small-title-border">
                    <th class="small-title">
                        INTRODUCTION
                    </th>
                    <td>
                        20代半ばからエンジニアの道に。
                    </td>
                </tr>
                <tr class="small-title-border">
                    <th class="small-title">

                    </th>
                    <td>
                        現在はIoT企業で仕事中。
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
