{% extends "sail/base.html" %}

{% block content %}
    <h2 class="title">PROFILE</h2>
    <div class="profile-area">
        <table class="profile-area-cont">
            <tbody>
                <tr class="small-title-border">
                    <th class="small-title">
                        NAME
                    </th>
                    <td>
                        山西 悠祐（Yusuke Yamanishi）
                    </td>
                </tr>
                <tr class="small-title-border">
                    <th class="small-title">
                        OCCUPATION
                    </th>
                    <td>
                        Webエンジニア
                    </td>
                </tr>
                <tr class="small-title-border">
                    <th class="small-title">
                        PROFESSTIONAL AREA
                    </th>
                    <td>
                        Web・モバイルアプリ
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
