{% extends "sail/base.html" %}

{% block content %}
    <h2 class="title">TOOLS</h2>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 box-container">
                <h2 class="box-header">Git</h2>
                <p class="box-body">エンジニアになりたての頃から使用。最初は何度もコンフリクト起こりまくったけど今は完璧に使えるように。rebase愛好者。</p>
            </div>
            <div class="col-xl-4 box-container">
                <h2 class="box-header">PhpStorm</h2>
                <p class="box-body">PHPの開発で使い始めたら使いやすくて虜に。とにかく静的解析が優秀すぎてどんどんコード書ける。AndroidStudioとUIが似ていて親しみやすいのもグッド。</p>
            </div>
            <div class="col-xl-4 box-container">
                <h2 class="box-header">VisualStudioCode</h2>
                <p class="box-body">愛用のエディタ。PhpStorm使うようになってからは出番は減ったけど相変わらず軽くて使いやすい。1年くらい愛用している。拡張機能追加でどんな状況にも対応できる。</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 box-container">
                <h2 class="box-header">Mac</h2>
                <p class="box-body">会社がMac使ってて使うことに。環境構築とかunix系であることとかが便利すぎてプライベートでもMac使いに。</p>
            </div>
            <div class="col-xl-4 box-container">
                <h2 class="box-header">PhpStorm</h2>
                <p class="box-body">PHPの開発で使い始めたら使いやすくて虜に。とにかく静的解析が優秀すぎてどんどんコード書ける。AndroidStudioとUIが似ていて親しみやすいのもグッド。</p>
            </div>
            <div class="col-xl-4 box-container">
                <h2 class="box-header">VisualStudioCode</h2>
                <p class="box-body">愛用のエディタ。PhpStorm使うようになってからは出番は減ったけど相変わらず軽くて使いやすい。1年くらい愛用している。拡張機能追加でどんな状況にも対応できる。</p>
            </div>
        </div>
    </div>
{% endblock content %}
