{% extends "sail/base.html" %}

{% block content %}
    <h2 class="title">TOOLS</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 box-tools">
                <h2 class="box-header">Git</h2>
                <p class="box-body">エンジニアになりたての頃から使用。最初は何度も</p>
                <p>使用歴：3年</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 box-tools">
                <h2 class="box-header">Kotlin</h2>
                <p class="box-body">主にUnityで使用していました。トップクラスに使い込んだ言語ですが、あくまでもUnityに特化しており、windows向けはしたことないという…</p>
                <p>使用歴：6ヶ月</p>
            </div>
        </div>
    </div>
{% endblock content %}
