{% extends "sail/base.html" %}

{% block content %}
    <h2 class="title">WORKS</h2>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 box-container">
                <h2 class="box-header">ポートフォリオページ</h2>
                <p class="box-body">このWebサイト。自分のスキルとか棚卸しするためと今まで学んだWeb技術で作りたくて作成。随時情報は追加予定。＊Workにはプライベートで関わったもののみ掲載していきます。</p>
            </div>
            <div class="col-xl-6 box-container">
                <h2 class="box-header">シンプルメモ</h2>
                <p class="box-body">Android個人リリース第1弾。とにかく軽く何かをリリースしたくて作成。そこそこインストール数伸びてて意外な収穫があった。</p>
                <a href="https://play.google.com/store/apps/details?id=yusukey.com.crypto_memo"><p class="box-body">GooglePlay</p></a>
            </div>
        </div>
    </div>
{% endblock content %}
